#clearButtons{

    height: auto;

}

#numberInput{
    margin-left: 10px;
    height: auto;

}

#inputDisplay{
    margin: 5px 15px;
    width: 23vw;
    height: 5vw;
    border: 3px solid black;

}
.btn {
    border: 1px solid black;

    box-shadow: 0 3px 0 0 #007299;
    margin-bottom: -3px;
    margin-top: 5px;
    margin-left: 5px;
}
#buttonArea{
    margin-bottom: 5px;
    width: 68vw;
}